*{
    box-sizing:  border-box;
    padding: 0;
    margin: 0;

}
body{
    background: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
    width: 100%;
    font-family: 'Poppins',sans-serif;
    color: #fff;
}
.paddingLeft{
    margin-left: 500px;
}
#cloudTemplate{
    color: #fff;
}
#search{
    padding-left: 100px;
    background: rgb(0 0 0 / 0%);
    color: white;
    border: 1px solid rgb(238 238 238 / 39%);
}
::placeholder{
    color: #fff;
}
.adjust{
    display: inline-block;
    margin-top: 25px;
    padding-top: 80px;
    padding-left: 115px;
}

.rightShift{
    margin-left: 1150px;
    margin-top: -270px;
}
.rightShift h4{
    margin-top:5px;
}
